.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

.header-skip-links:focus-within .sr-only,
.sr-only-focusable:active,
.sr-only-focusable:focus {
	position: static;
	width: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	clip: auto;
}

#ribbon {
	margin-bottom: 15px;
	padding: 0;
	border-top: 4px solid #4e2583;
	background: none;
}

#flipjar {
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
}

a.homelink {
	padding-top: 5px;
	float: none;
}

.flipjar__button {
	padding: 0;
	margin-bottom: 4px;
	border: 0 solid #4e2583;
	background: none;
	transition: all 0.2s ease-in-out;
}

.flipjar__button:hover,
.flipjar__button:focus {
	border-top-width: 4px;
	margin-bottom: 0;
}

.flip {
	margin-top: 0;
	padding-bottom: 0;
}

.flip:hover {
	border-top: 0;
}

.panelbck {
	display: none;
}

div.panel {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: auto;
	max-width: 1200px;
	height: auto;
	padding: 0 15px;
}

div.lists {
	margin-top: 0;
	display: flex;
}

div.panel ul {
	display: inline-block;
	float: none;
}

@media (max-width: 1000px) {
	div.panel {
		flex-direction: column;
		padding-bottom: 15px;
	}

	div.ribboninputcontainer {
		margin-bottom: 30px;
	}

	.lists-select .fields, .popular-select .fields {
		display: none !important;
	}

    div#ribbon {
	    display: block;
    }
}



#menu li:focus-within {
	background-color: #fff;
}

#menu li:focus-within a {
	color: #333 !important;

}

#menu li a:focus {
	outline: 2px solid highlight;
}

#menu li:focus-within .drop {
	background: url(https://www.uwo.ca/web_standards/img/meganav/drop-alt.png) no-repeat right 7px;
	margin-bottom: 2px;
}

#menu li:focus-within .ex-link {
	background: url(https://www.uwo.ca/web_standards/img/meganav/ex-link-alt.png) no-repeat right 5px;
	margin-bottom: 2px;
}
#menu li:focus-within div a {
	font-size: 14px;
	color: #015b86;
}

.drop:focus + .dropdown_1column,
.dropdown_1column:focus-within {
	left: -1px;
	top: auto;
	opacity: 1;
}

.btn-primary:focus {
	text-decoration: underline;
}

.image-left a:focus {
	outline-width: 5px;
}

a.blue-box:focus {
	background: url(https://www.uwo.ca/web_standards/img/icn/paper-transp.png) no-repeat 5px 7px #fff;
	color: #005a96;
	margin: 0 0 4px 0px;
	padding: 4px 5px 4px 20px;
	box-shadow: 1px 0px 1px #999;
	text-shadow: none;
	display: block;
	border: 0;
}
